<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO Users (
            username, password, email, phone_number, 
            registration_date, total_usage_hours, total_spent
        ) VALUES (
            #{username}, #{password}, #{email}, #{phoneNumber}, 
            #{registrationDate}, #{totalUsageHours}, #{totalSpent}
        )
    </insert>
</mapper> 